venv/*
SPLINE_FITS.csv
charts/table_figures/days_to_T0.png
charts/table_figures/stage_1_timeline.png
charts/table_figures/stage_2_timeline.png
charts/table_figures/stage_3_timeline.png
.Rproj.user
data/table_of_results.csv
data/table_1_v1.csv
data/mann_whitney_si.csv
data/mann_whitney_gni.csv
cache/world_bank_table.json
cache/world_bank_table.csv
cache/testing_table.json
cache/testing_table.csv
cache/government_response_table.json
cache/government_response_table.csv
cache/epidemiology_table.json
cache/epidemiology_table.csv
cache/epidemiology_series.json
cache/epidemiology_series.csv
*.pyc
