attrs
click
click-plugins
cligj
csaps
cycler
descartes
Fiona
geopandas
kiwisolver
matplotlib
munch
numpy
pandas
patsy
pingouin
psycopg2-binary
pyparsing
pyproj
python-dateutil
pytz==2020.1
scipy
seaborn
Shapely
six
statsmodels
tqdm
